<h1 mat-dialog-title>Reporte de venta</h1>

<form [formGroup]="saleForm">
  <div mat-dialog-content>
    <mat-form-field appearance="legacy" class="form-element">
      <mat-label>Número económico</mat-label>
      <input
        matInput
        type="text"
        placeholder="Numero económico"
        formControlName="economicNumber"
      />
      <mat-error
        *ngIf="
          !saleForm.controls['economicNumber'].valid &&
          saleForm.controls['economicNumber'].touched
        "
      >
        El campo es obligatorio.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="form-element">
      <mat-label>Selecciona el tipo de unidad</mat-label>
      <mat-select formControlName="unitType" (selectionChange)="selectType($event.value)">
        <mat-option *ngFor="let type of types" [value]="type.id">
          {{ type.description }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          !saleForm.controls['unitType'].valid &&
          saleForm.controls['unitType'].touched
        "
      >
      El campo es obligatorio.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="form-element">
      <mat-label [hidden]="!isGasPipe">Litros iniciales</mat-label>
      <mat-label [hidden]="isGasPipe">Producto salida</mat-label>
      <input matInput type="number" formControlName="initialLiters"/>
      <mat-error
        *ngIf="
          !saleForm.controls['initialLiters'].valid &&
          saleForm.controls['initialLiters'].touched
        "
      >
      El campo es obligatorio.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="form-element">
      <mat-label [hidden]="!isGasPipe">Litros finales</mat-label>
      <mat-label [hidden]="isGasPipe">Producto regreso</mat-label>
      <input matInput type="number" formControlName="finalLiters" />
      <mat-error *ngIf="!saleForm.controls['finalLiters'].valid && saleForm.controls['finalLiters'].touched">
        El campo es obligatorio.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="form-element">
      <mat-label>Cantidad</mat-label>
      <input matInput type="number" formControlName="quantity" />
      <mat-error
        *ngIf="
          !saleForm.controls['quantity'].valid &&
          saleForm.controls['quantity'].touched
        "
      >
      El campo es obligatorio.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="form-element" *ngIf="saleForm.controls['unitType'].valid && saleForm.controls['quantity'].valid">
      <mat-label>Selecciona un producto</mat-label>
      <mat-select formControlName="product" (selectionChange)="selectProduct($event.value)">
        <mat-option *ngFor="let product of products" [value]="product.id">
          {{ product.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          !saleForm.controls['product'].valid &&
          saleForm.controls['product'].touched
        "
      >
      El campo es obligatorio.
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">
      Cancelar
    </button>
    <button mat-button (click)="onSubmit()" [disabled]="!saleForm.valid">Reportar venta</button>
  </div>
</form>
